:root {
    --cl_white: white;
    --cl_main: #658EA9;
}

::-webkit-scrollbar {
    display: none;
}

  /* rgb(106, 187, 219); */

#backimg {
    margin: 0;
    width : 100%;
    top: -75px;
    position: fixed;
    z-index: -1;

    overflow: hidden;
}

body {
    padding: 0;
    margin : 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: var(--cl_white);*/
    background-color: rgba(0,0,0,1);
  
}

body.fade-out {
    opacity: 0;
    transition: none;
}


p {
    font-size: large;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.center-contents {
    text-align: center;
}

.container {
    padding-top: 5%;
}

.container-2 {
    position: relative;
    margin: 0px;
    padding: 0px;
}




.whitespace-1 {
    margin: 10%;
}

.flex_break {
    flex-basis: 100%;
}


/* - - - Alignment classes - - - */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.transition-fade {
    opacity: 1;
    transition: 750ms;
}

html.is-animating .transition-fade{
    opacity: 0;
}